.orbuy .spezcard
{
	background: none repeat scroll 0 0 #ffffff;
    border-radius: 8px;
    color: #333333;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    vertical-align: top;
    width: 183px;
	margin-bottom:6px;
	text-align:center;
	height:auto;
}
.orbuy .spezcard .lc img
{
	max-height:60px; 
	max-width:100%;
	display:inline-block;
	margin:auto;
	
}
.orbuy .rubrik
{
	color:#999999;
	border-radius:8px;
	vertical-align:top;
	background:#ffffff;
}

.orbuy .npr
{
	display:block;
	height:auto;
	font-size:8px;
}
.orbuy .available
{
	line-height:22px;
	height:auto;
}

.orbuy .lc
{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:100%;
	height:60px;
	width:183px;
}
.orbuy .rc .available
{
	font-size:14px;
}
.orbuy .rc button
{
	display:none;
}
.orbuy .rc
{
	font-size:12px;
	color:#fff;
	vertical-align:bottom;
}
.orbuy .rc .price
{
	font-size:18px;
	color:#f33;
	padding-top:15px;
}

.orbuy .active_pane
{

	padding:18px !important;

}
.orbuy .stitle
{
	width:183px;
	height:auto;
	
}
.orbuy .spezcard .stitle a
{

width:183px;


color:#363a3c;
font-weight:bold;
display:block;
font-size:12px;
}
.orbuy  .label
{
	display:none;
}
.orbuy .stitle span
{
	display:none;
}
.orbuy .npr
{
	/*margin-top:-15px;*/
}